.section-title {
    font-weight: 900;
    color: #2e2e2e;
    margin-bottom: 2.5rem;
  }
  
  .custom-list {
    list-style: none;
    padding-left: 0;
  }
  
  .custom-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
  }
